<h1>Update Photo <%= @my_photo.id %></h1>

<form action="http://localhost:3000/update_photo/<%= @my_photo.id %>">
  <div>
    <label for="Caption">
      Image Caption
    </label>

    <input type="text" name="Caption" value="<%= @my_photo.caption %>">
  </div>
<div>
    <label for="Image URL">
      Image URL
    </label>

    <input type="text" name="Image URL" value="<%= @my_photo.source %>">
  </div>
  <button>Update Photo</button>
</form>
